# Tratamento e limpeza de dados

# Imports

In [1]:
import pandas as pd
import numpy as np

# Sobre os dados

### Contexto

A coleta de dados de aplicativos da Apple App Store é relativamente fácil devido à estrutura bem organizada de suas páginas, o que facilita a raspagem de dados. No entanto, a obtenção de dados do Google Play Store é mais desafiadora porque a loja utiliza técnicas modernas, como carregamento dinâmico de páginas com JQuery, que complicam o processo de raspagem.

Esse contexto explica as dificuldades em obter dados do Google Play Store, justificando a raridade desses datasets em comparação aos dados da Apple App Store.

Cada linha do dataframe representa um app único

Colunas do dataframe:

* App (nome dos aplicativos)	
* Category (tipo de aplicativo que pode ser de artes, jogos, encontros, quadrinhos, etc...)
* Rating (nota no google play store)
* Reviews	(comentários a respeito do aplicativo)
* Size	(tamanho do aplicativo)
* Installs	(número de vezes que foi baixado)
* Type	(se ele é pago ou gratuito)
* Price	(preço do app)
* Content Rating (classificação do conteúdo)
* Genres (Equivalente a categoria)
* Last Updated	(Última vez que o app foi atualizado)
* Current Ver	(versão mais recente do aplicativo)
* Android Ver   (Compatibilidade com a versão do android)

### Objetivo 

Neste notebook, meu principal objetivo é realizar uma análise criteriosa do conjunto de dados, identificando e corrigindo possíveis inconsistências e anomalias. Este processo de limpeza e preparação dos dados é essencial para garantir que a posterior análise exploratória seja precisa e confiável, permitindo insights robustos e relevantes a partir dos dados tratados

### Fonte dos dados
Os arquivos do dataset foram obtidos do seguinte repositório do Kaggle:
https://www.kaggle.com/datasets/lava18/google-play-store-apps?resource=download&select=googleplaystore_user_reviews.csv

# Data Loading

In [2]:
path_ = '../dataset/googleplaystore.csv'

In [3]:
df = pd.read_csv(path_)

## Data exploration

In [4]:
df.head()

,App,Category,Rating,Reviews,Size,Installs,Type,Price,Content Rating,Genres,Last Updated,Current Ver,Android Ver
0,Photo Editor & Candy Camera & Grid & ScrapBook,ART_AND_DESIGN,4.1,159,19M,"10,000+",Free,0,Everyone,Art & Design,"January 7, 2018",1.0.0,4.0.3 and up
1,Coloring book moana,ART_AND_DESIGN,3.9,967,14M,"500,000+",Free,0,Everyone,Art & Design;Pretend Play,"January 15, 2018",2.0.0,4.0.3 and up
2,"U Launcher Lite – FREE Live Cool Themes, Hide ...",ART_AND_DESIGN,4.7,87510,8.7M,"5,000,000+",Free,0,Everyone,Art & Design,"August 1, 2018",1.2.4,4.0.3 and up
3,Sketch - Draw & Paint,ART_AND_DESIGN,4.5,215644,25M,"50,000,000+",Free,0,Teen,Art & Design,"June 8, 2018",Varies with device,4.2 and up
4,Pixel Draw - Number Art Coloring Book,ART_AND_DESIGN,4.3,967,2.8M,"100,000+",Free,0,Everyone,Art & Design;Creativity,"June 20, 2018",1.1,4.4 and up

In [5]:
df.columns

Index(['App', 'Category', 'Rating', 'Reviews', 'Size', 'Installs', 'Type',
       'Price', 'Content Rating', 'Genres', 'Last Updated', 'Current Ver',
       'Android Ver'],
      dtype='object')

In [6]:
df.shape

(10841, 13)

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10841 entries, 0 to 10840
Data columns (total 13 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   App             10841 non-null  object
 1   Category        10841 non-null  object
 2   Rating          9367 non-null   float64
 3   Reviews         10841 non-null  object
 4   Size            10841 non-null  object
 5   Installs        10841 non-null  object
 6   Type            10840 non-null  object
 7   Price           10841 non-null  object
 8   Content Rating  10840 non-null  object
 9   Genres          10841 non-null  object
 10  Last Updated    10841 non-null  object
 11  Current Ver     10833 non-null  object
 12  Android Ver     10838 non-null  object
dtypes: float64(1), object(12)
memory usage: 1.1+ MB

# Identificando inconsistências

## Valores duplicados

In [8]:
df.duplicated().sum()

483

## Valores únicos

In [9]:
for col in df.columns:
    print(f"Coluna: {col}")
    print(df[col].unique())
    print("-" * 30)

Coluna: App
['Photo Editor & Candy Camera & Grid & ScrapBook' 'Coloring book moana'
 'U Launcher Lite – FREE Live Cool Themes, Hide Apps' ...
 'Parkinson Exercices FR' 'The SCP Foundation DB fr nn5n'
 'iHoroscope - 2018 Daily Horoscope & Astrology']
------------------------------
Coluna: Category
['ART_AND_DESIGN' 'AUTO_AND_VEHICLES' 'BEAUTY' 'BOOKS_AND_REFERENCE'
 'BUSINESS' 'COMICS' 'COMMUNICATION' 'DATING' 'EDUCATION' 'ENTERTAINMENT'
 'EVENTS' 'FINANCE' 'FOOD_AND_DRINK' 'HEALTH_AND_FITNESS' 'HOUSE_AND_HOME'
 'LIBRARIES_AND_DEMO' 'LIFESTYLE' 'GAME' 'FAMILY' 'MEDICAL' 'SOCIAL'
 'SHOPPING' 'PHOTOGRAPHY' 'SPORTS' 'TRAVEL_AND_LOCAL' 'TOOLS'
 'PERSONALIZATION' 'PRODUCTIVITY' 'PARENTING' 'WEATHER' 'VIDEO_PLAYERS'
 'NEWS_AND_MAGAZINES' 'MAPS_AND_NAVIGATION' '1.9']
------------------------------
Coluna: Rating
[ 4.1  3.9  4.7  4.5  4.3  4.4  3.8  4.2  4.6  3.2  4.   nan  4.8  4.9
  3.6  3.7  3.3  3.4  3.5  3.1  5.   2.6  3.   1.9  2.5  2.8  2.7  1.
  2.9  2.3  2.2  1.7  2.   1.8  2.4  1.6  2.1  1.4  1.5  1.2 19. ]
------------------------------
Coluna: Reviews
['159' '967' '87510' ... '603' '1195' '398307']
------------------------------
Coluna: Size
['19M' '14M' '8.7M' '25M' '2.8M' '5.6M' '29M' '33M' '3.1M' '28M' '12M'
 '20M' '21M' '37M' '2.7M' '5.5M' '17M' '39M' '31M' '4.2M' '7.0M' '23M'
 '6.0M' '6.1M' '4.6M' '9.2M' '5.2M' '11M' '24M' 'Varies with device'
 '9.4M' '15M' '10M' '1.2M' '26M' '8.0M' '7.9M' '56M' '57M' '35M' '54M'
 '201k' '3.6M' '5.7M' '8.6M' '2.4M' '27M' '2.5M' '16M' '3.4M' '8.9M'
 '3.9M' '2.9M' '38M' '32M' '5.4M' '18M' '1.1M' '2.2M' '4.5M' '9.8M' '52M'
 '9.0M' '6.7M' '30M' '2.6M' '7.1M' '3.7M' '22M' '7.4M' '6.4M' '3.2M'
 '8.2M' '9.9M' '4.9M' '9.5M' '5.0M' '5.9M' '13M' '73M' '6.8M' '3.5M'
 '4.0M' '2.3M' '7.2M' '2.1M' '42M' '7.3M' '9.1M' '55M' '23k' '6.5M' '1.5M'
 '7.5M' '51M' '41M' '48M' '8.5M' '46M' '8.3M' '4.3M' '4.7M' '3.3M' '40M'
 '7.8M' '8.8M' '6.6M' '5.1M' '61M' '66M' '79k' '8.4M' '118k' '44M' '695k'
 '1.6M' '6.2M' '18k' '53M' '1.4M' '3.0M' '5.8M' '3.8M' '9.6M' '45M' '63M'
 '49M' '77M' '4.4M' '4.8M' '70M' '6.9M' '9.3M' '10.0M' '8.1M' '36M' '84M'
 '97M' '2.0M' '1.9M' '1.8M' '5.3M' '47M' '556k' '526k' '76M' '7.6M' '59M'
 '9.7M' '78M' '72M' '43M' '7.7M' '6.3M' '334k' '34M' '93M' '65M' '79M'
 '100M' '58M' '50M' '68M' '64M' '67M' '60M' '94M' '232k' '99M' '624k'
 '95M' '8.5k' '41k' '292k' '11k' '80M' '1.7M' '74M' '62M' '69M' '75M'
 '98M' '85M' '82M' '96M' '87M' '71M' '86M' '91M' '81M' '92M' '83M' '88M'
 '704k' '862k' '899k' '378k' '266k' '375k' '1.3M' '975k' '980k' '4.1M'
 '89M' '696k' '544k' '525k' '920k' '779k' '853k' '720k' '713k' '772k'
 '318k' '58k' '241k' '196k' '857k' '51k' '953k' '865k' '251k' '930k'
 '540k' '313k' '746k' '203k' '26k' '314k' '239k' '371k' '220k' '730k'
 '756k' '91k' '293k' '17k' '74k' '14k' '317k' '78k' '924k' '902k' '818k'
 '81k' '939k' '169k' '45k' '475k' '965k' '90M' '545k' '61k' '283k' '655k'
 '714k' '93k' '872k' '121k' '322k' '1.0M' '976k' '172k' '238k' '549k'
 '206k' '954k' '444k' '717k' '210k' '609k' '308k' '705k' '306k' '904k'
 '473k' '175k' '350k' '383k' '454k' '421k' '70k' '812k' '442k' '842k'
 '417k' '412k' '459k' '478k' '335k' '782k' '721k' '430k' '429k' '192k'
 '200k' '460k' '728k' '496k' '816k' '414k' '506k' '887k' '613k' '243k'
 '569k' '778k' '683k' '592k' '319k' '186k' '840k' '647k' '191k' '373k'
 '437k' '598k' '716k' '585k' '982k' '222k' '219k' '55k' '948k' '323k'
 '691k' '511k' '951k' '963k' '25k' '554k' '351k' '27k' '82k' '208k' '913k'
 '514k' '551k' '29k' '103k' '898k' '743k' '116k' '153k' '209k' '353k'
 '499k' '173k' '597k' '809k' '122k' '411k' '400k' '801k' '787k' '237k'
 '50k' '643k' '986k' '97k' '516k' '837k' '780k' '961k' '269k' '20k' '498k'
 '600k' '749k' '642k' '881k' '72k' '656k' '601k' '221k' '228k' '108k'
 '940k' '176k' '33k' '663k' '34k' '942k' '259k' '164k' '458k' '245k'
 '629k' '28k' '288k' '775k' '785k' '636k' '916k' '994k' '309k' '485k'
 '914k' '903k' '608k' '500k' '54k' '562k' '847k' '957k' '688k' '811k'
 '270k' '48k' '329k' '523k' '921k' '874k' '981k' '784k' '280k' '24k'
 '518k' '754k' '892k' '154k' '860k' '364k' '387k' '626k' '161k' '879k'
 '39k' '970k' '170k' '141k' '160k' '144k' '143k' '190k' '376k' '193k'
 '246k' '73k' '658k' '992k' '253k' '420k' '404k' '1,000+' '470k' '226k'
 '240k' '89k' '234k' '257k' '861k' '467k' '157k' '44k' '676k' '67k' '552k'
 '885k' '1020k' '582k' '619k']
------------------------------
Coluna: Installs
['10,000+' '500,000+' '5,000,000+' '50,000,000+' '100,000+' '50,000+'
 '1,000,000+' '10,000,000+' '5,000+' '100,000,000+' '1,000,000,000+'
 '1,000+' '500,000,000+' '50+' '100+' '500+' '10+' '1+' '5+' '0+' '0'
 'Free']
------------------------------
Coluna: Type
['Free' 'Paid' nan '0']
------------------------------
Coluna: Price
['0' '$4.99' '$3.99' '$6.99' '$1.49' '$2.99' '$7.99' '$5.99' '$3.49'
 '$1.99' '$9.99' '$7.49' '$0.99' '$9.00' '$5.49' '$10.00' '$24.99'
 '$11.99' '$79.99' '$16.99' '$14.99' '$1.00' '$29.99' '$12.99' '$2.49'
 '$10.99' '$1.50' '$19.99' '$15.99' '$33.99' '$74.99' '$39.99' '$3.95'
 '$4.49' '$1.70' '$8.99' '$2.00' '$3.88' '$25.99' '$399.99' '$17.99'
 '$400.00' '$3.02' '$1.76' '$4.84' '$4.77' '$1.61' '$2.50' '$1.59' '$6.49'
 '$1.29' '$5.00' '$13.99' '$299.99' '$379.99' '$37.99' '$18.99' '$389.99'
 '$19.90' '$8.49' '$1.75' '$14.00' '$4.85' '$46.99' '$109.99' '$154.99'
 '$3.08' '$2.59' '$4.80' '$1.96' '$19.40' '$3.90' '$4.59' '$15.46' '$3.04'
 '$4.29' '$2.60' '$3.28' '$4.60' '$28.99' '$2.95' '$2.90' '$1.97'
 '$200.00' '$89.99' '$2.56' '$30.99' '$3.61' '$394.99' '$1.26' 'Everyone'
 '$1.20' '$1.04']
------------------------------
Coluna: Content Rating
['Everyone' 'Teen' 'Everyone 10+' 'Mature 17+' 'Adults only 18+' 'Unrated'
 nan]
------------------------------
Coluna: Genres
['Art & Design' 'Art & Design;Pretend Play' 'Art & Design;Creativity'
 'Art & Design;Action & Adventure' 'Auto & Vehicles' 'Beauty'
 'Books & Reference' 'Business' 'Comics' 'Comics;Creativity'
 'Communication' 'Dating' 'Education;Education' 'Education'
 'Education;Creativity' 'Education;Music & Video'
 'Education;Action & Adventure' 'Education;Pretend Play'
 'Education;Brain Games' 'Entertainment' 'Entertainment;Music & Video'
 'Entertainment;Brain Games' 'Entertainment;Creativity' 'Events' 'Finance'
 'Food & Drink' 'Health & Fitness' 'House & Home' 'Libraries & Demo'
 'Lifestyle' 'Lifestyle;Pretend Play' 'Adventure;Action & Adventure'
 'Arcade' 'Casual' 'Card' 'Casual;Pretend Play' 'Action' 'Strategy'
 'Puzzle' 'Sports' 'Music' 'Word' 'Racing' 'Casual;Creativity'
 'Casual;Action & Adventure' 'Simulation' 'Adventure' 'Board' 'Trivia'
 'Role Playing' 'Simulation;Education' 'Action;Action & Adventure'
 'Casual;Brain Games' 'Simulation;Action & Adventure'
 'Educational;Creativity' 'Puzzle;Brain Games' 'Educational;Education'
 'Card;Brain Games' 'Educational;Brain Games' 'Educational;Pretend Play'
 'Entertainment;Education' 'Casual;Education' 'Music;Music & Video'
 'Racing;Action & Adventure' 'Arcade;Pretend Play'
 'Role Playing;Action & Adventure' 'Simulation;Pretend Play'
 'Puzzle;Creativity' 'Sports;Action & Adventure'
 'Educational;Action & Adventure' 'Arcade;Action & Adventure'
 'Entertainment;Action & Adventure' 'Puzzle;Action & Adventure'
 'Strategy;Action & Adventure' 'Music & Audio;Music & Video'
 'Health & Fitness;Education' 'Adventure;Education' 'Board;Brain Games'
 'Board;Action & Adventure' 'Board;Pretend Play' 'Casual;Music & Video'
 'Role Playing;Pretend Play' 'Entertainment;Pretend Play'
 'Video Players & Editors;Creativity' 'Card;Action & Adventure' 'Medical'
 'Social' 'Shopping' 'Photography' 'Travel & Local'
 'Travel & Local;Action & Adventure' 'Tools' 'Tools;Education'
 'Personalization' 'Productivity' 'Parenting' 'Parenting;Music & Video'
 'Parenting;Education' 'Parenting;Brain Games' 'Weather'
 'Video Players & Editors' 'Video Players & Editors;Music & Video'
 'News & Magazines' 'Maps & Navigation'
 'Health & Fitness;Action & Adventure' 'Educational' 'Casino'
 'Adventure;Brain Games' 'Trivia;Education' 'Lifestyle;Education'
 'Books & Reference;Creativity' 'Books & Reference;Education'
 'Puzzle;Education' 'Role Playing;Education' 'Role Playing;Brain Games'
 'Strategy;Education' 'Racing;Pretend Play' 'Communication;Creativity'
 'February 11, 2018' 'Strategy;Creativity']
------------------------------
Coluna: Last Updated
['January 7, 2018' 'January 15, 2018' 'August 1, 2018' ...
 'January 20, 2014' 'February 16, 2014' 'March 23, 2014']
------------------------------
Coluna: Current Ver
['1.0.0' '2.0.0' '1.2.4' ... '1.0.612928' '0.3.4' '2.0.148.0']
------------------------------
Coluna: Android Ver
['4.0.3 and up' '4.2 and up' '4.4 and up' '2.3 and up' '3.0 and up'
 '4.1 and up' '4.0 and up' '2.3.3 and up' 'Varies with device'
 '2.2 and up' '5.0 and up' '6.0 and up' '1.6 and up' '1.5 and up'
 '2.1 and up' '7.0 and up' '5.1 and up' '4.3 and up' '4.0.3 - 7.1.1'
 '2.0 and up' '3.2 and up' '4.4W and up' '7.1 and up' '7.0 - 7.1.1'
 '8.0 and up' '5.0 - 8.0' '3.1 and up' '2.0.1 and up' '4.1 - 7.1.1' nan
 '5.0 - 6.0' '1.0 and up' '2.2 - 7.1.1' '5.0 - 7.1.1']
------------------------------

### A partir da análise destes valores únicos posso detectar as inconsistências a seguir

## Valores nulos

In [10]:
df.isna().sum()

App                  0
Category             0
Rating            1474
Reviews              0
Size                 0
Installs             0
Type                 1
Price                0
Content Rating       1
Genres               0
Last Updated         0
Current Ver          8
Android Ver          3
dtype: int64

## Valores incoerentes

In [11]:
df['Price'].unique()

array(['0', '$4.99', '$3.99', '$6.99', '$1.49', '$2.99', '$7.99', '$5.99',
       '$3.49', '$1.99', '$9.99', '$7.49', '$0.99', '$9.00', '$5.49',
       '$10.00', '$24.99', '$11.99', '$79.99', '$16.99', '$14.99',
       '$1.00', '$29.99', '$12.99', '$2.49', '$10.99', '$1.50', '$19.99',
       '$15.99', '$33.99', '$74.99', '$39.99', '$3.95', '$4.49', '$1.70',
       '$8.99', '$2.00', '$3.88', '$25.99', '$399.99', '$17.99',
       '$400.00', '$3.02', '$1.76', '$4.84', '$4.77', '$1.61', '$2.50',
       '$1.59', '$6.49', '$1.29', '$5.00', '$13.99', '$299.99', '$379.99',
       '$37.99', '$18.99', '$389.99', '$19.90', '$8.49', '$1.75',
       '$14.00', '$4.85', '$46.99', '$109.99', '$154.99', '$3.08',
       '$2.59', '$4.80', '$1.96', '$19.40', '$3.90', '$4.59', '$15.46',
       '$3.04', '$4.29', '$2.60', '$3.28', '$4.60', '$28.99', '$2.95',
       '$2.90', '$1.97', '$200.00', '$89.99', '$2.56', '$30.99', '$3.61',
       '$394.99', '$1.26', 'Everyone', '$1.20', '$1.04'], dtype=object)

No final da lista há um valor chamado "Everyone", que está completamente fora do que se é esperado nessa coluna

In [12]:
df['Category'].unique()

array(['ART_AND_DESIGN', 'AUTO_AND_VEHICLES', 'BEAUTY',
       'BOOKS_AND_REFERENCE', 'BUSINESS', 'COMICS', 'COMMUNICATION',
       'DATING', 'EDUCATION', 'ENTERTAINMENT', 'EVENTS', 'FINANCE',
       'FOOD_AND_DRINK', 'HEALTH_AND_FITNESS', 'HOUSE_AND_HOME',
       'LIBRARIES_AND_DEMO', 'LIFESTYLE', 'GAME', 'FAMILY', 'MEDICAL',
       'SOCIAL', 'SHOPPING', 'PHOTOGRAPHY', 'SPORTS', 'TRAVEL_AND_LOCAL',
       'TOOLS', 'PERSONALIZATION', 'PRODUCTIVITY', 'PARENTING', 'WEATHER',
       'VIDEO_PLAYERS', 'NEWS_AND_MAGAZINES', 'MAPS_AND_NAVIGATION',
       '1.9'], dtype=object)

No final da lista há o valor 1.9 que também está completamente fora do que se é esperado

In [13]:
df['Type'].unique()

array(['Free', 'Paid', nan, '0'], dtype=object)

A coluna `Type` deveria possuir apenas dois tipos de valores

In [14]:
df['Installs'].unique()

array(['10,000+', '500,000+', '5,000,000+', '50,000,000+', '100,000+',
       '50,000+', '1,000,000+', '10,000,000+', '5,000+', '100,000,000+',
       '1,000,000,000+', '1,000+', '500,000,000+', '50+', '100+', '500+',
       '10+', '1+', '5+', '0+', '0', 'Free'], dtype=object)

Há alguns valores estranhos também na coluna `Installs`

In [15]:
df['Reviews'].unique()

array(['159', '967', '87510', ..., '603', '1195', '398307'], dtype=object)

A coluna `Review` deveria conter comentários dos usuários, mas ela carrega epenas números que a princípio não possuem significado

### Coluna `Genres`
Essa coluna carrega o mesmo tipo de informação que a coluna `Category`. Vale a pena uma olhada mais aprofundada para verificar se preservar as duas colunas é relevante

## Erros de tipagem

In [16]:
df['Price'].info()

<class 'pandas.core.series.Series'>
RangeIndex: 10841 entries, 0 to 10840
Series name: Price
Non-Null Count  Dtype
--------------  -----
10841 non-null  object
dtypes: object(1)
memory usage: 84.8+ KB

A coluna `price` está no formato textual, mas é interessante que ela seja convertida para numérica

## Falta de padronização

In [17]:
df['Size'].unique()

array(['19M', '14M', '8.7M', '25M', '2.8M', '5.6M', '29M', '33M', '3.1M',
       '28M', '12M', '20M', '21M', '37M', '2.7M', '5.5M', '17M', '39M',
       '31M', '4.2M', '7.0M', '23M', '6.0M', '6.1M', '4.6M', '9.2M',
       '5.2M', '11M', '24M', 'Varies with device', '9.4M', '15M', '10M',
       '1.2M', '26M', '8.0M', '7.9M', '56M', '57M', '35M', '54M', '201k',
       '3.6M', '5.7M', '8.6M', '2.4M', '27M', '2.5M', '16M', '3.4M',
       '8.9M', '3.9M', '2.9M', '38M', '32M', '5.4M', '18M', '1.1M',
       '2.2M', '4.5M', '9.8M', '52M', '9.0M', '6.7M', '30M', '2.6M',
       '7.1M', '3.7M', '22M', '7.4M', '6.4M', '3.2M', '8.2M', '9.9M',
       '4.9M', '9.5M', '5.0M', '5.9M', '13M', '73M', '6.8M', '3.5M',
       '4.0M', '2.3M', '7.2M', '2.1M', '42M', '7.3M', '9.1M', '55M',
       '23k', '6.5M', '1.5M', '7.5M', '51M', '41M', '48M', '8.5M', '46M',
       '8.3M', '4.3M', '4.7M', '3.3M', '40M', '7.8M', '8.8M', '6.6M',
       '5.1M', '61M', '66M', '79k', '8.4M', '118k', '44M', '695k', '1.6M',
       '6.2M', '18k', '53M', '1.4M', '3.0M', '5.8M', '3.8M', '9.6M',
       '45M', '63M', '49M', '77M', '4.4M', '4.8M', '70M', '6.9M', '9.3M',
       '10.0M', '8.1M', '36M', '84M', '97M', '2.0M', '1.9M', '1.8M',
       '5.3M', '47M', '556k', '526k', '76M', '7.6M', '59M', '9.7M', '78M',
       '72M', '43M', '7.7M', '6.3M', '334k', '34M', '93M', '65M', '79M',
       '100M', '58M', '50M', '68M', '64M', '67M', '60M', '94M', '232k',
       '99M', '624k', '95M', '8.5k', '41k', '292k', '11k', '80M', '1.7M',
       '74M', '62M', '69M', '75M', '98M', '85M', '82M', '96M', '87M',
       '71M', '86M', '91M', '81M', '92M', '83M', '88M', '704k', '862k',
       '899k', '378k', '266k', '375k', '1.3M', '975k', '980k', '4.1M',
       '89M', '696k', '544k', '525k', '920k', '779k', '853k', '720k',
       '713k', '772k', '318k', '58k', '241k', '196k', '857k', '51k',
       '953k', '865k', '251k', '930k', '540k', '313k', '746k', '203k',
       '26k', '314k', '239k', '371k', '220k', '730k', '756k', '91k',
       '293k', '17k', '74k', '14k', '317k', '78k', '924k', '902k', '818k',
       '81k', '939k', '169k', '45k', '475k', '965k', '90M', '545k', '61k',
       '283k', '655k', '714k', '93k', '872k', '121k', '322k', '1.0M',
       '976k', '172k', '238k', '549k', '206k', '954k', '444k', '717k',
       '210k', '609k', '308k', '705k', '306k', '904k', '473k', '175k',
       '350k', '383k', '454k', '421k', '70k', '812k', '442k', '842k',
       '417k', '412k', '459k', '478k', '335k', '782k', '721k', '430k',
       '429k', '192k', '200k', '460k', '728k', '496k', '816k', '414k',
       '506k', '887k', '613k', '243k', '569k', '778k', '683k', '592k',
       '319k', '186k', '840k', '647k', '191k', '373k', '437k', '598k',
       '716k', '585k', '982k', '222k', '219k', '55k', '948k', '323k',
       '691k', '511k', '951k', '963k', '25k', '554k', '351k', '27k',
       '82k', '208k', '913k', '514k', '551k', '29k', '103k', '898k',
       '743k', '116k', '153k', '209k', '353k', '499k', '173k', '597k',
       '809k', '122k', '411k', '400k', '801k', '787k', '237k', '50k',
       '643k', '986k', '97k', '516k', '837k', '780k', '961k', '269k',
       '20k', '498k', '600k', '749k', '642k', '881k', '72k', '656k',
       '601k', '221k', '228k', '108k', '940k', '176k', '33k', '663k',
       '34k', '942k', '259k', '164k', '458k', '245k', '629k', '28k',
       '288k', '775k', '785k', '636k', '916k', '994k', '309k', '485k',
       '914k', '903k', '608k', '500k', '54k', '562k', '847k', '957k',
       '688k', '811k', '270k', '48k', '329k', '523k', '921k', '874k',
       '981k', '784k', '280k', '24k', '518k', '754k', '892k', '154k',
       '860k', '364k', '387k', '626k', '161k', '879k', '39k', '970k',
       '170k', '141k', '160k', '144k', '143k', '190k', '376k', '193k',
       '246k', '73k', '658k', '992k', '253k', '420k', '404k', '1,000+',
       '470k', '226k', '240k', '89k', '234k', '257k', '861k', '467k',
       '157k', '44k', '676k', '67k', '552k', '885k', '1020k', '582k',
       '619k'], dtype=object)

O tamanho dos arquivos podem estar na unidade megabyte ou kbyte. O mais indicado é converter esses valores para uma unica medida

## Outliers

Uma análise sobre os outliers será feita posteriormente a alteração da tipagem da coluna `Price`

# Corrigindo as inconsistências

## Valores duplicados

Cada linha do dataframe corresponde a um único aplicativo, o que significa que linhas duplicadas são um erro e não um possível padrão de sazonalidade. Portanto elas podem ser removidas do dataframe original

In [18]:
df = df.drop_duplicates()

## Valores nulos

In [19]:
df.isna().sum()

App                  0
Category             0
Rating            1465
Reviews              0
Size                 0
Installs             0
Type                 1
Price                0
Content Rating       1
Genres               0
Last Updated         0
Current Ver          8
Android Ver          3
dtype: int64

Há muitos valores faltantes na coluna de `Rating` e mais alguns poucos valores nas colunas `Type`,`Content Rating`, `Current Ver` e `Android Ver`, entretando não há como preenche-los. Por essa razão decidi por criar uma cópia do dataframe sem essas linhas faltantes

In [20]:
colunas_com_linhas_dropar = ['Rating','Type','Content Rating','Current Ver','Android Ver']

In [21]:
df[colunas_com_linhas_dropar].isna().any(axis=1).sum()

1472

In [22]:
df_sem_nulos = df.dropna(subset=colunas_com_linhas_dropar).reset_index(drop=True).copy()

In [23]:
df_sem_nulos.isna().sum()

App               0
Category          0
Rating            0
Reviews           0
Size              0
Installs          0
Type              0
Price             0
Content Rating    0
Genres            0
Last Updated      0
Current Ver       0
Android Ver       0
dtype: int64

## Valores incoerentes

Quando excluimos as linhas com valores nulos também excluimos as linhas que carregavam o valor 'Everyone' da coluna `Price` e '1.9' da coluna `Category`

In [24]:
print(df_sem_nulos[df_sem_nulos['Price']=='Everyone'])
print("-"*30)
print(df_sem_nulos[df_sem_nulos['Category']=='1.9'])

Empty DataFrame
Columns: [App, Category, Rating, Reviews, Size, Installs, Type, Price, Content Rating, Genres, Last Updated, Current Ver, Android Ver]
Index: []
------------------------------
Empty DataFrame
Columns: [App, Category, Rating, Reviews, Size, Installs, Type, Price, Content Rating, Genres, Last Updated, Current Ver, Android Ver]
Index: []

As colunas `Type` e `Installs` também não possuem mais valores inesperados

In [25]:
print(df_sem_nulos['Type'].value_counts())
print("-"*30)
print(df_sem_nulos['Installs'].unique())

Type
Free    8275
Paid     611
Name: count, dtype: int64
------------------------------
['10,000+' '500,000+' '5,000,000+' '50,000,000+' '100,000+' '50,000+'
 '1,000,000+' '10,000,000+' '5,000+' '100,000,000+' '1,000,000,000+'
 '1,000+' '500,000,000+' '100+' '500+' '10+' '5+' '50+' '1+']

In [26]:
df_sem_nulos['Installs'].unique()

array(['10,000+', '500,000+', '5,000,000+', '50,000,000+', '100,000+',
       '50,000+', '1,000,000+', '10,000,000+', '5,000+', '100,000,000+',
       '1,000,000,000+', '1,000+', '500,000,000+', '100+', '500+', '10+',
       '5+', '50+', '1+'], dtype=object)

## Erros de tipagem

Como ja dito, a coluna `Price` é do tipo textual, vamos corrig-la para para que ela passe a ser uma coluna numérica

In [27]:
df_alterado = df_sem_nulos.copy()

In [28]:
df_alterado['Price'] = df_alterado['Price'].str.replace('$', '')

In [29]:
df_alterado['Price'] = df_alterado['Price'].astype(np.float64)

## Coluna `Genres`

In [30]:
pd.set_option('display.max_rows', 500)
df_alterado.groupby(['Category', 'Genres']).size()

Category             Genres
ART_AND_DESIGN       Art & Design                              55
                     Art & Design;Creativity                    5
                     Art & Design;Pretend Play                  1
AUTO_AND_VEHICLES    Auto & Vehicles                           73
BEAUTY               Beauty                                    42
BOOKS_AND_REFERENCE  Books & Reference                        177
BUSINESS             Business                                 270
COMICS               Comics                                    57
                     Comics;Creativity                          1
COMMUNICATION        Communication                            307
DATING               Dating                                   159
EDUCATION            Education                                106
                     Education;Action & Adventure               1
                     Education;Brain Games                      3
                     Education;Creativity                       3
                     Education;Education                       11
                     Education;Music & Video                    1
                     Education;Pretend Play                     4
ENTERTAINMENT        Entertainment                            101
                     Entertainment;Brain Games                  2
                     Entertainment;Creativity                   1
                     Entertainment;Music & Video                7
EVENTS               Events                                    45
FAMILY               Action;Action & Adventure                 12
                     Adventure;Action & Adventure               8
                     Adventure;Brain Games                      1
                     Adventure;Education                        2
                     Arcade;Action & Adventure                 14
                     Arcade;Pretend Play                        1
                     Art & Design;Creativity                    2
                     Art & Design;Pretend Play                  1
                     Board;Action & Adventure                   3
                     Board;Brain Games                         15
                     Board;Pretend Play                         1
                     Books & Reference;Education                2
                     Card;Action & Adventure                    2
                     Card;Brain Games                           1
                     Casual                                   140
                     Casual;Action & Adventure                 17
                     Casual;Brain Games                        12
                     Casual;Creativity                          6
                     Casual;Education                           3
                     Casual;Music & Video                       1
                     Casual;Pretend Play                       29
                     Communication;Creativity                   1
                     Education                                340
                     Education;Action & Adventure               4
                     Education;Brain Games                      1
                     Education;Creativity                       4
                     Education;Education                       33
                     Education;Music & Video                    3
                     Education;Pretend Play                    14
                     Educational                               32
                     Educational;Action & Adventure             4
                     Educational;Brain Games                    6
                     Educational;Creativity                     5
                     Educational;Education                     35
                     Educational;Pretend Play                  15
                     Entertainment                            397
                     Entertainment;Action & Adventure           3
                     Entertainment;Brain Games                  6
                     Entertainment;Creativity                   2
                     Entertainment;Education                    1
                     Entertainment;Music & Video               16
                     Entertainment;Pretend Play                 2
                     Health & Fitness;Action & Adventure        1
                     Health & Fitness;Education                 1
                     Lifestyle;Education                        1
                     Music & Audio;Music & Video                1
                     Music;Music & Video                        3
                     Puzzle                                    78
                     Puzzle;Action & Adventure                  5
                     Puzzle;Brain Games                        18
                     Puzzle;Creativity                          2
                     Puzzle;Education                           1
                     Racing;Action & Adventure                 20
                     Racing;Pretend Play                        1
                     Role Playing                              90
                     Role Playing;Action & Adventure            5
                     Role Playing;Brain Games                   1
                     Role Playing;Pretend Play                  4
                     Simulation                               183
                     Simulation;Action & Adventure              9
                     Simulation;Education                       2
                     Simulation;Pretend Play                    4
                     Sports;Action & Adventure                  4
                     Strategy                                  79
                     Strategy;Action & Adventure                2
                     Strategy;Creativity                        1
                     Strategy;Education                         1
                     Video Players & Editors;Creativity         1
                     Video Players & Editors;Music & Video      2
FINANCE              Finance                                  317
FOOD_AND_DRINK       Food & Drink                             106
GAME                 Action                                   349
                     Action;Action & Adventure                  3
                     Adventure                                 73
                     Adventure;Action & Adventure               5
                     Arcade                                   205
                     Board                                     41
                     Card                                      45
                     Casino                                    37
                     Casual                                    43
                     Casual;Action & Adventure                  1
                     Casual;Brain Games                         1
                     Casual;Creativity                          1
                     Casual;Pretend Play                        1
                     Music                                     20
                     Puzzle                                    38
                     Racing                                    93
                     Role Playing                              16
                     Simulation                                10
                     Simulation;Action & Adventure              1
                     Simulation;Education                       1
                     Sports                                    13
                     Strategy                                  22
                     Trivia                                    28
                     Word                                      27
HEALTH_AND_FITNESS   Health & Fitness                         262
HOUSE_AND_HOME       House & Home                              68
LIBRARIES_AND_DEMO   Libraries & Demo                          64
LIFESTYLE            Lifestyle                                304
                     Lifestyle;Pretend Play                     1
MAPS_AND_NAVIGATION  Maps & Navigation                        124
MEDICAL              Medical                                  302
NEWS_AND_MAGAZINES   News & Magazines                         214
PARENTING            Parenting                                 40
                     Parenting;Brain Games                      1
                     Parenting;Education                        3
                     Parenting;Music & Video                    6
PERSONALIZATION      Personalization                          308
PHOTOGRAPHY          Photography                              304
PRODUCTIVITY         Productivity                             334
SHOPPING             Shopping                                 202
SOCIAL               Social                                   244
SPORTS               Sports                                   286
TOOLS                Tools                                    732
                     Tools;Education                            1
TRAVEL_AND_LOCAL     Travel & Local                           204
                     Travel & Local;Action & Adventure          1
VIDEO_PLAYERS        Video Players & Editors                  158
                     Video Players & Editors;Creativity         1
                     Video Players & Editors;Music & Video      1
WEATHER              Weather                                   75
dtype: int64

De maneira geral os valores presentes na coluna `Genres` são uma expansão da coluna `Category`. Fornecendo mais detalhes sobre aquele valor. Com exceção do valor 'Family' da coluna `Category`. Ela engloba aplicativos que pela coluna `Genres` poderia pertecenter pertencer a categoria de educação, games ou video player. Por essa razão decidi por excluir a coluna `Category` e preservar a coluna `Genres`, mas dividindo ela em duas, semelhante ao estado que temos agora, mas com colunas que realmente descrevem a categoria e subcategoria do aplicativo. 

Primeiro vamos substituir alguns valores que podem ser entendidos como valores associados a games, sendo eles:

action, 
puzzle, 
adventure, 
casual,
arcade, 
card,
board,
entertainment,
simulation,
strategy,
role playing,
strategy

In [31]:
df_alterado_2 = df_alterado.drop('Category', axis=1).copy()

In [32]:
df_alterado_2[['Genres_1','Genres_description']] = df_alterado_2['Genres'].str.split(';', n=1, expand=True)

In [33]:
df_alterado_2 = df_alterado_2.drop('Genres', axis=1)

In [34]:
df_alterado_2['Genres_description'] = df_alterado_2['Genres_description'].fillna('No description')

In [35]:
df_alterado_2['Genres_description'].unique()

array(['No description', 'Pretend Play', 'Creativity', 'Education',
       'Music & Video', 'Action & Adventure', 'Brain Games'], dtype=object)

Agora vamos verificar as categorias da nova coluna `Genres_1` porque há diferentes valores que representam a mesma coisa e que podem ser substituidos

In [67]:
df_alterado_2['Genres_1'].unique()

array(['Art & Design', 'Auto & Vehicles', 'Beauty', 'Books & Reference',
       'Business', 'Comics', 'Communication', 'Dating', 'Education',
       'Entertainment', 'Events', 'Finance', 'Food & Drink',
       'Health & Fitness', 'House & Home', 'Libraries & Demo',
       'Lifestyle', 'Adventure', 'Arcade', 'Casual', 'Card', 'Action',
       'Strategy', 'Puzzle', 'Sports', 'Music', 'Word', 'Racing',
       'Simulation', 'Board', 'Trivia', 'Role Playing',
       'Video Players & Editors', 'Medical', 'Social', 'Shopping',
       'Photography', 'Travel & Local', 'Tools', 'Personalization',
       'Productivity', 'Parenting', 'Weather', 'News & Magazines',
       'Maps & Navigation', 'Casino'], dtype=object)

Podemos notar que alguns valores dessa lista representam a mesma coisa e que podem ser substituidos para uma coisa so. Sendo eles:

* Education e Educational
* Music & Audio e Music

In [66]:
df_alterado_2['Genres_1'] = df_alterado_2['Genres_1'].str.replace('Educational','Education').replace('Music & Audio','Music')

Uma coisa que me chama atenção na coluna `Genres_1` é que não existe um valor para 'jogos', no entanto os valores abaixo poderiam ser substituidos por jogos. Gostaria de fazer essa alteração e englobar todos eles como a categoria de jogos. Para isso vou verificar fazer uma comparação com a coluna `Genres_description` para validar essa hipótese

In [56]:
valores_suspeitos = ['Entertainment', 'Arcade', 'Adventure', 'Casual', 'Card', 'Action','Strategy', 'Puzzle', 'Racing','Simulation', 'Board', 'Trivia', 'Role Playing']

In [57]:
df_filtrado = df_alterado_2[df_alterado_2['Genres_1'].isin(valores_suspeitos)][['Genres_1', 'Genres_description']]

In [58]:
pd.set_option('display.max_rows', 500)
df_filtrado.groupby(['Genres_1', 'Genres_description']).size()

Genres_1       Genres_description
Action         Action & Adventure     15
               No description        349
Adventure      Action & Adventure     13
               Brain Games             1
               Education               2
               No description         73
Arcade         Action & Adventure     14
               No description        205
               Pretend Play            1
Board          Action & Adventure      3
               Brain Games            15
               No description         41
               Pretend Play            1
Card           Action & Adventure      2
               Brain Games             1
               No description         45
Casual         Action & Adventure     18
               Brain Games            13
               Creativity              7
               Education               3
               Music & Video           1
               No description        183
               Pretend Play           30
Entertainment  Action & Adventure      3
               Brain Games             8
               Creativity              3
               Education               1
               Music & Video          23
               No description        498
               Pretend Play            2
Puzzle         Action & Adventure      5
               Brain Games            18
               Creativity              2
               Education               1
               No description        116
Racing         Action & Adventure     20
               No description         93
               Pretend Play            1
Role Playing   Action & Adventure      5
               Brain Games             1
               No description        106
               Pretend Play            4
Simulation     Action & Adventure     10
               Education               3
               No description        193
               Pretend Play            4
Strategy       Action & Adventure      2
               Creativity              1
               Education               1
               No description        101
Trivia         No description         28
dtype: int64

Podemos notar que a descrição dos gêneros são na maioria descrição de apps de jogos, por essa razão faz sentido renomearei esses valores para jogos, mas também criarei uma copia do dataframe que contenha somente esses aplicativos de jogos porque considero que eles por si poderiam constituir uma análise

In [59]:
df_games_apps = df_alterado_2[df_alterado_2['Genres_1'].isin(valores_suspeitos)].copy().reset_index(drop=True)

In [60]:
df_games_renomeados = df_alterado_2.copy()

In [63]:
mapeamento_genres = {
    'Entertainment': 'Games', 
    'Arcade': 'Games', 
    'Adventure': 'Games', 
    'Casual': 'Games', 
    'Card': 'Games', 
    'Action': 'Games', 
    'Strategy': 'Games', 
    'Puzzle': 'Games', 
    'Racing': 'Games', 
    'Simulation': 'Games', 
    'Board': 'Games', 
    'Trivia': 'Games', 
    'Role Playing': 'Games'
}

In [64]:
df_games_renomeados['Genres_1'] = df_games_renomeados['Genres_1'].replace(mapeamento_genres)

## Falta de padronização